:root {
  --blue: #0087b1;
  --white: #fff;
  --dark-blue: #23444e;
  --pink: #ed297b;
  --g-padding: 2em;
  --header-height: 5.2em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  font-family: var(--font-lato);
}

h1 {
  font-family: var(--font-opensans);
}

h2 {
  font-family: var(--font-opensans);
}

h3 {
  font-family: var(--font-opensans);
}

p,
select,
span,
table,
label,
textarea,
div {
  font-family: var(--font-lato);
}

button {
  font-family: var(--font-lato);
}

.link:hover {
  cursor: pointer;
}

.container {
  padding: 0 var(--g-padding);
}

.first-container {
  margin-top: var(--header-height);
}
